#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-header.myapp_card_header {
  background-color: lightblue; 
  font-weight: bold;
}

.card-header.myapp_card_header_2 {
  background-color: lightgoldenrodyellow; 
  font-weight: bold;
}

.card-body.myapp_card_body {
  background-color: lightgray;
  padding: 0;
}

.card.myapp_card {
}

.myapp_button {
  margin:10px;
}

.myapp_toggle:checked {
  background-color: red;
}

.myapp_toggle:not(:checked) {
  background-color: rgb(160,160,160);
}

.form-check-input[type="checkbox"] {
  border-width: 3px;
}
