#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-header.myapp_card_header {
  background-color: #5b5b5b;
  font-weight: bold;
  color: white;
}

.card-header.myapp_card_header_2 {
  background-color: lightgray;
  font-weight: bold;
}

.card-body.myapp_card_body {
  background-color: lightgray;
  padding: 0;
}

.myapp_button {
  border-width: 3px !important;
  border-color: gray !important;
  display: inline;
  width: auto;
  margin-right: 10px !important;
}

.form-check-input[type="checkbox"] {
  border-width: 3px;
}

.setchks-big-green-btn {
  display: inline-block;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 1vh 1vh;
  margin: 1vh;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  text-align: left;
  color: white !important;
  border-style: solid;
  border-width: 3px !important;
  border-color: gray !important;
  background-color: green !important;
  border-radius: 10px !important;
}

.setchks-big-green-btn:hover {
  background-color: #005e00 !important;
}

.smaller_font {
  font-size: 0.8em !important;
}

.much_smaller_font {
  font-size: 0.6em !important;
}

.tableContainer {
  height: 60vh;
  overflow: auto;
}

/* .dropdown-item {
  color:red !important;
  background-color: gray !important;
} */

.dropdown-toggle {
  color: black !important;
  background-color: white !important;
  border-width: 3px !important;
  border-color: gray !important;
}

.dropdown-toggle:hover {
  background-color: lightgrey !important;
}

.tableFixHead {
  overflow: auto ;
  height: 60vh ;
}
.tableFixHead thead th {
  position: sticky ;
  top: 0 ;
  z-index: 1 ;
}
